---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import Header from "../components/Header.astro";
---

<Layout title="Brian Sekelsky">
  <main>
    <div class="load-in">
      <Header />
    </div>
    <div class="load-in">
      <Gallery />
    </div>
  </main>
</Layout>
