---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import Header from "../components/Header.astro";
---

<Layout title="Brian Sekelsky">
  <main>
    <div class="load-in">
      <Header />
    </div>
    <div class="load-in">
      <Gallery />
    </div>
  </main>
</Layout>

<!-- <script>
  function initCardObserver() {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
          observer.unobserve(entry.target); // Optional: animate only once
        }
      });
    });

    document.querySelectorAll(".card").forEach((card) => {
      observer.observe(card);
    });
  }

  // Run on initial load
  initCardObserver();

  // Optional: re-run on navigation (if using client-side routing)
  window.addEventListener("astro:after-swap", () => {
    initCardObserver();
  });
</script> -->
