---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Brian Sekelsky">
  <main>
    <div class="load-in">
      <Header />
    </div>
    <div class="load-in">
      <Gallery />
    </div>
  </main>

  <style>
    .load-in {
      opacity: 0;
    }
  </style>
</Layout>

<script>
  import gsap from "gsap";
  const header = document.getElementsByClassName("load-in");

  const fadeInTimeline = gsap.timeline({});

  fadeInTimeline.set(header, { opacity: 0 }).to(header, {
    opacity: 1,
    duration: 1,
    delay: 0.25,
    stagger: 0.5,
  });
</script>
