---
import Link from "./Link.astro";
import SmallHeading from "./SmallHeading.astro";

import { Image } from "astro:assets";
import brianImage from "../images/about/brian-lake.JPG";
import brian3d from "../images/brian-3d.png";
---

<div class="h-full">
  <div class="mx-auto h-full">
    <div class="load-in grid grid-cols-1 lg:flex lg:justify-stretch h-full">
      <div class="flex flex-col shrink justify-stretch">
        <div class="bg-white dark:bg-dark-surface pt-4 border-b dark:border-dark-border px-4 py-8 sm:p-8">
          <SmallHeading text="Basics" />
          <div class="sm:flex">
            <div class="w-1/2">
              <div class="mb-0">he/him</div>
              <div class="mb-0">briansekelsky@gmail.com</div>
              <div>
                <Link
                  newtab
                  href="/Sekelsky-Resume-2025.pdf"
                  name="Résumé"
                />
              </div>
              <!-- <div>
                <Link
                  newtab
                  href="https://docs.google.com/document/d/1ASQ78sw_6Qbju26QU7jFr0AkTqaA9adG7rL_WwzSZ-g/edit?usp=sharing"
                  name="Academic CV"
                />
              </div> -->
            </div>
            <br />
            <div class="">
              <div>
                <div>
                  <Link
                    href="https://www.instagram.com/briansekelsky/"
                    name="Instagram"
                  />
                </div>
                <div>
                  <Link
                    href="https://open.spotify.com/artist/4GYawQUhnxYepBC7WhUJ4N?si=UOrw0Pc-SQOmT_3K44T8Xg"
                    name="Spotify"
                  />
                </div>
                <div>
                  <Link
                    href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ"
                    name="Youtube"
                  />
                </div>
                <div>
                  <Link
                    href="https://www.linkedin.com/in/brian-sekelsky/"
                    name="LinkedIn"
                  />
                </div>
                <!-- <div>
                  <Link
                    href="https://bsky.app/profile/briansekelsky.bsky.social"
                    name="Bluesky"
                  />
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white dark:bg-dark-surface border-b dark:border-dark-border p-4 sm:p-8">
          <SmallHeading text="Bio" />
          <p>
            I'm a designer, developer, and teacher. I spent two years in the Peace Corps teaching math and computer skills in Tanzania,
            and I'm always looking for work that connects to education and expanding opportunity. I've worked in nonprofits, academia, 
            and corporate environments, but the projects I care most about are the ones that help people and strive to make the world a better place.
          </p>
          <p>
            I currently design products that help users manage and pay down
            their student debt at
            <Link
              name="Fidelity Investments."
              href="https://www.fidelityworkplace.com/s/studentdebt?ccsource=sem%7Cgoogle%7Cgoogle.com%7Cexact%7Chavas-wps-sd-search%7Cfidelity-student-debt%7Cstudentdebtb2bbrand-studentloans%7C%7Ceid%3Dep61486480236%7C&gclid=Cj0KCQjwpc-oBhCGARIsAH6ote9g7PwdorVXfwVC6jNwrIJ_-DeyJ8dgYuvkgFbjMvqEfBEAt_FrY5QaAq-LEALw_wcB&gclsrc=aw.ds"
            />
            Sometimes, I teach design and tech classes as an adjunct instructor. I also co-run a mini design studio called
            <Link
              name="Best Parts."  
              href="http://bestparts.design"
            />
          </p>
          <p>
            In my free time, <Link name="I make music" href="/music" />, <Link name="post on youtube" href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ" />, <Link name="watch movies" href="https://letterboxd.com/briansekelsky/" />, <Link name="read books" href="https://app.thestorygraph.com/profile/briansekelsky" />, go on long runs, and explore the great outdoors.
          </p>
        </div>
        <div class="p-4 sm:p-8 grow">
          <SmallHeading text="About this site" />
          <p>
            This site is a portfolio and archive for my designs, art, and music.
          </p>
          <p>
            I built it with <Link name="Astro JS" href="https://astro.build/" />
            and <Link name="Tailwind CSS." href="https://tailwindcss.com/" />
            It is also hosted <Link
              name="on github"
              href="https://github.com/BrianSekelsky/portfolio-2023"
            />. It is open source, meaning you are free to clone it and reuse
            any part of it.
          </p>
        </div>
      </div>
      <div class="bg-white dark:bg-dark-surface md:min-w-fit border-t lg:border-t-0 lg:border-l dark:border-dark-border h-full">
        <Image
          class="object-cover"
          src={brianImage}
          alt="Image of Brian Sekelsky outside"
        />
      </div>
    </div>
  </div>

  <style>
    #manipulate {
      /* cursor: pointer; */
    }

    .gap-1 {
      gap: 1px;
    }
    p {
      margin-bottom: 0.7rem;
    }

    .object-cover {
      min-width: 100%;
      min-height: 100%;
    }
  </style>

</div>
