---
import Link from "./Link.astro";
import SmallHeading from "./SmallHeading.astro";

import { Image } from "astro:assets";
import brianImage from "../images/about/brian.png";
import brian3d from "../images/brian-3d.png";
---

<!-- <script is:inline>
document.body.style.backgroundColor = "#9DC5BB";
</script> -->
<div class="">
  <div
    class="absolute z-10 w-44 lg:w-52 top-64 right-4 lg:right-0 sm:top-10 sm:left-3/4 lg:left-1/2 lg:top-44"
  >
    <Image src={brian3d} alt="3D model of my head" />
  </div>
  <div class="mx-auto">
    <div class="load-in grid grid-cols-1 lg:flex lg:justify-stretch">
      <div class="flex flex-col shrink justify-stretch">
        <div
          id="header"
          class="hidden sm:block py-4 sm:pt-6 px-4 sm:px-8 pb-0 bg-white border-b transition-all duration-500"
        >
          <p
            id="manipulate"
            class="text-left text-5xl sm:text-7xl font-mono uppercase font-extralight cursor-pointer line-height-1.4"
          >
            Brian Sekelsky
          </p>
        </div>
        <div class="bg-white pt-4 border-b px-4 py-8 sm:p-8">
          <SmallHeading text="Basics" />
          <div class="sm:flex">
            <div class="w-1/2">
              <div class="mb-0">he/him</div>
              <div class="mb-0">briansekelsky@gmail.com</div>
              <div>
                <Link href="/sekelsky-resume.pdf" name="Resume.pdf↗" />
              </div>
            </div>
            <br />
            <div class="">
              <div>
                <div>
                  <Link
                    href="https://www.instagram.com/briansekelsky/"
                    name="Instagram"
                  />
                </div>
                <div>
                  <Link
                    href="https://open.spotify.com/artist/4GYawQUhnxYepBC7WhUJ4N?si=UOrw0Pc-SQOmT_3K44T8Xg"
                    name="Spotify"
                  />
                </div>
                <div>
                  <Link
                    href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ"
                    name="Youtube"
                  />
                </div>
                <div>
                  <Link
                    href="https://www.linkedin.com/in/brian-sekelsky/"
                    name="LinkedIn"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white border-b p-4 sm:p-8">
          <SmallHeading text="Bio" />
          <p>
            I'm a generalist at heart, and design is my home base. Drawing from
            my diverse experiences in front-end development, visual design,
            teaching, and user experience, I seamlessly blend these skills to
            create meaningful and impactful work. I believe solid collaboration,
            inclusivity, and thorough problem understanding all scaffold towards
            good design.
          </p>
          <p>
            I currently design products that help users manage and pay down
            their student debt at
            <Link
              name="Fidelity Investments."
              href="https://www.fidelityworkplace.com/s/studentdebt?ccsource=sem%7Cgoogle%7Cgoogle.com%7Cexact%7Chavas-wps-sd-search%7Cfidelity-student-debt%7Cstudentdebtb2bbrand-studentloans%7C%7Ceid%3Dep61486480236%7C&gclid=Cj0KCQjwpc-oBhCGARIsAH6ote9g7PwdorVXfwVC6jNwrIJ_-DeyJ8dgYuvkgFbjMvqEfBEAt_FrY5QaAq-LEALw_wcB&gclsrc=aw.ds"
            />
            I am also an adjunct faculty member at North Carolina State University’s
            <Link name="College of Design," href="https://design.ncsu.edu/" /> where
            I am teaching a course on emerging technologies (AI/ML, AR/VR, creative
            coding) for designers.
          </p>
          <p>
            In my free time, I enjoy running, learning piano, recording
            electronic/folk music, and exploring the great outdoors.
          </p>
        </div>
        <div class="bg-white p-4 sm:p-8 grow">
          <SmallHeading text="About this site" />
          <p>
            This site is a portfolio and archive for my designs, art, and music.
          </p>
          <p>
            I built it with <Link name="Astro JS" href="https://astro.build/" />
            and <Link name="Tailwind CSS." href="https://tailwindcss.com/" />
            It is also hosted <Link
              name="on github"
              href="https://github.com/BrianSekelsky/portfolio-2023"
            />. It is open source, meaning you are free to clone it and reuse
            any part of it.
          </p>
        </div>
      </div>
      <div class="bg-white md:min-w-fit border-t lg:border-t-0 lg:border-l">
        <Image
          class="object-cover"
          src={brianImage}
          alt="Image of Brian Sekelsky outside"
        />
      </div>
    </div>
  </div>

  <style>
    #manipulate {
      /* cursor: pointer; */
    }

    .gap-1 {
      gap: 1px;
    }
    p {
      margin-bottom: 0.7rem;
    }

    .object-cover {
      min-width: 100%;
      min-height: 100%;
    }
  </style>

  <script src="./header.js"></script>
</div>
