---
import Link from "./Link.astro";
import SmallHeading from "./SmallHeading.astro";

import { Image } from "astro:assets";
import brianImage from "../images/about/brian.png";
---

<div class="mx-auto bg-black">
  <div class="grid gap-1 grid-cols-1 lg:grid-cols-2">
    <div class="bg-white px-12 py-6">
      <div>
        <SmallHeading text="Basics" />
        <p>he/him</p>
        <p>(seh-KEL-skee)</p>
        <p>briansekelsky@gmail.com</p>
        <br />
        <br />
      </div>
      <div>
        <SmallHeading text="Bio" />
        <p>
          I am a multidisciplinary designer focused on interaction, web, 3D, and
          user experience. I currently design products which help users manage
          and pay down their student debt at <Link
            name="Fidelity Investments."
            href="https://www.fidelityworkplace.com/s/studentdebt?ccsource=sem%7Cgoogle%7Cgoogle.com%7Cexact%7Chavas-wps-sd-search%7Cfidelity-student-debt%7Cstudentdebtb2bbrand-studentloans%7C%7Ceid%3Dep61486480236%7C&gclid=Cj0KCQjwpc-oBhCGARIsAH6ote9g7PwdorVXfwVC6jNwrIJ_-DeyJ8dgYuvkgFbjMvqEfBEAt_FrY5QaAq-LEALw_wcB&gclsrc=aw.ds"
          />
        </p>
        <br />
        <p>
          I believe that good design is scaffolded by sound collaboration, solid
          research, constant curiosity, and a holistic consideration for
          everyone and everything affected by it.
        </p>
        <br />
        <p>
          Previously I obtained a master's degree (MGXD/MFA) in Graphic &
          Experience Design at <Link
            name="North Carolina State University."
            href="https://design.ncsu.edu/graphic-design/academics/masters/"
          />
           During my time there, I worked as a designer/research assistant on
          Scale Worlds: a collaborative project between educators, designers,
          and engineers. Before that I worked as a graphic designer and frontend
          developer for a few different companies, spent 27 months teaching in
          Tanzania as a Peace Corps Volunteer, and studied Computer Science at
          the University of Wisconsin – Madison.
        </p>
        <br />
        <p>
          In my free time I enjoy distance running, making art, recording
          electronic and folk music, and exploring the great outdoors.
        </p>
      </div>
    </div>
    <div class="bg-white px-12 py-6">
      <Image
        class="mx-auto"
        src={brianImage}
        alt="Image of Brian Sekelsky outside"
      />
    </div>
    <div class="bg-white px-12 py-6 relative lg:col-span-2">
      <SmallHeading text="About this site" />
      <p>
        This site is a portfolio and archive for my designs, art, and music.
      </p>
      <br />
      <p>
        It was built with <Link name="Astro JS" href="https://astro.build/" />
         and <Link name="Tailwind CSS." href="https://tailwindcss.com/" />
         It is also hosted <Link
          name="here on github"
          href="https://github.com/BrianSekelsky/portfolio-2023"
        />. It is open source, meaning you are free to clone it and reuse any
        part of it for your own project. If you do use any of the code I just
        ask that you credit me and link back to this site.
      </p>
    </div>
  </div>
</div>

<style>
  .gap-1 {
    gap: 1px;
  }
</style>
