---
interface Props {
  isLarge: boolean;
  value: string;
  year: string;
  types: { text: string; special: boolean }[];
  description: string;
}

const { value, types, year, description } = Astro.props;
---

<h3 class="transition-all text-xl">{value}</h3>
<!-- <p class="font-serif pt-2">
  {description}
</p> -->
<p class="text-sm pt-2 pb-4 ">{year}</p>
{types.map((type, i) => (
  <span class="italic mr-2 font-serif font-light text-sm text-zinc-700 rounded-full px-4 py-1 bg-zinc-100">
    {type.text}{i < types.length - 1 ? '' : ''}
  </span>
))}