---
interface Props {
  isLarge: boolean;
  value: string;
}

const { isLarge, value } = Astro.props;
---

<p
  class={isLarge
    ? "py-1 group-hover:text-white uppercase transition-all ease-in-out"
    : "py-1 group-hover:text-white group-hover:bg-blue text-xs uppercase transition-all ease-in-out bg-white border-black border-solid"}
>
  {value}
</p>
