---
interface Props {
  isLarge: boolean;
  value: string;
}

const { isLarge, value } = Astro.props;
---

<p
  class={isLarge
    ? "font-serif font-extralight text-2xl group-hover:text-blue transition-all group-hover:italic"
    : "uppercase font-mono mb-0"}
>
  {value}
</p>
