---
interface Props {
  isLarge: boolean;
  value: string;
}

const { isLarge, value } = Astro.props;
---

<p
  class={isLarge
    ? "text-xl uppercase font-mono mb-0"
    : "text-xs uppercase font-mono mb-0"}
>
  {value}
</p>
