---
interface Props {
  isLarge: boolean;
  value: string;
  year: string;
  types: { text: string; special: boolean }[];
  description: string;
}

const { value, types, year, description } = Astro.props;
---

<div class="flex flex-col justify-between h-full">
  <div>
    <h3 class="transition-all font-medium text-lg">{value}</h3>
    <p class="text-xs pt-2 pb-2">{year}</p>
    <p class="font-serif">
      {description}
    </p>
  </div>
  <div class="pt-4">
    {
      types.map((type, i) => (
        <span class="italic mr-2 font-serif font-light text-sm text-zinc-700 rounded-full px-4 py-1 bg-zinc-100">
          {type.text}
          {i < types.length - 1 ? "" : ""}
        </span>
      ))
    }
  </div>
</div>
