---
interface Props {
  isLarge: boolean;
  value: string;
  year: string;
  types: { text: string; special: boolean }[];
}

const { isLarge, value, types, year } = Astro.props;
---
<div class="flex justify-center">
  <div class="bg-white p-4 shadow-sm w-1/2 rounded-sm border">
    <p
      class="text-sm"
    >
      {value}
    </p>
    <p>
    {
      types.map((type, i) => (
      <span class={type.special ? "text-blue text-xs text-light italic" : "text-gray text-xs text-light"}>
        <span>{i == types.length - 1 ? type.text : type.text + ','} </span>
      </span>
      ))
    }
    </p>
    <p class="text-gray text-xs text-light pt-2">{year}</p>
  </div>
</div>
