---
interface Props {
  title: string;
  description: string;
  year: string;
  type: string[];
  size: string;
  src: string;
}

const { title, description, year, type, size, src } = Astro.props;
---

<div
  class={size === "small"
    ? "group w-full relative transition ease-in-out hover:cursor-pointer"
    : "group w-full col-span-2 row-span-2 relative transition ease-in-out hover:cursor-pointer"}
>
<div class="absolute p-2">
  <p class="transition-all ease-in-out bg-white px-2 group-hover:bg-blue group-hover:text-white rounded-full border-black border-solid">
    {title}
  </p>
</div>
  <div class="absolute p-2 right-0">
    <p
      class="transition-all ease-in-out bg-white px-2 font-light text-sm group-hover:bg-blue group-hover:text-white rounded-full border-black border-solid"
    >
      {year}
    </p>
  </div>
  <div class="absolute p-2 left-0 bottom-0">
    <p class="transition-all ease-in-out bg-white px-2 font-light group-hover:bg-blue group-hover:text-white rounded-full border-black border-solid">
      {type}
    </p>
  </div>
  <img src={src} />
</div>

<style>
  img {
    width: 100%;
  }
</style>
