---
interface Props {
  isLarge: boolean;
  value: string;
}

const { isLarge, value } = Astro.props;
---

<p
  class={isLarge
    ? "text-3xl font-mono uppercase mb-2"
    : "text-xs uppercase font-mono mb-0"}
>
  {value}
</p>
