---
interface Props {
  isLarge: boolean;
  value: string;
}

const { isLarge, value } = Astro.props;
---

<p
  class={isLarge
    ? "uppercase text-lg font-mono group-hover:capitalize"
    : "uppercase font-extralight font-mono mb-0 group-hover:lowercase"}
>
  {value}
</p>
