---
import Link from "./Link.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const year = new Date().getFullYear();
---

<div class="border-t">
  <div class="container mx-auto">
    <div class="flex justify-between p-3 content-center items-center">
      <p class="">© {year} BRIAN SEKELSKY</p>
      <div class="flex gap-16">
        <Link
          href="https://www.instagram.com/briansekelsky/"
          name="INSTAGRAM"
        />
        <Link
          href="https://open.spotify.com/artist/4GYawQUhnxYepBC7WhUJ4N?si=UOrw0Pc-SQOmT_3K44T8Xg"
          name="SPOTIFY"
        />
        <Link
          href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ"
          name="YOUTUBE"
        />
        <Link
          href="https://www.linkedin.com/in/brian-sekelsky/"
          name="LINKEDIN"
        />
      </div>
    </div>
  </div>
</div>
