---
import NavLink from "./Nav-link.astro";
import Link from "./Link.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const year = new Date().getFullYear();
---

<div class="border-t px-3 sm:px-4">
  <div class="mx-auto">
    <div class="font-mono">
      <div class="flex justify-center gap-8 py-4">
        <div>
          <Link
            href="https://www.instagram.com/briansekelsky/"
            name="Instagram↗"
          />
        </div>
        <div>
          <Link
            href="https://open.spotify.com/artist/4GYawQUhnxYepBC7WhUJ4N?si=UOrw0Pc-SQOmT_3K44T8Xg"
            name="Spotify↗"
          />
        </div>
        <div>
          <Link
            href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ"
            name="Youtube↗"
          />
        </div>
        <div>
          <Link
            href="https://www.linkedin.com/in/brian-sekelsky/"
            name="LinkedIn↗"
          />
        </div>
      </div>
      <!-- <NavLink
        href="https://www.instagram.com/briansekelsky/"
        name="INSTAGRAM"
      />
      <NavLink
        href="https://open.spotify.com/artist/4GYawQUhnxYepBC7WhUJ4N?si=UOrw0Pc-SQOmT_3K44T8Xg"
        name="SPOTIFY"
      />
      <NavLink
        href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ"
        name="YOUTUBE"
      />
      <NavLink
        href="https://www.linkedin.com/in/brian-sekelsky/"
        name="LINKEDIN"
      /> -->
    </div>
  </div>
</div>
