---
import NavLink from "./Nav-link.astro";
import Link from "./Link.astro";
import SectionHeader from "./SectionHeader.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const year = new Date().getFullYear();
---

<div class="border-t px-3 sm:px-8 pb-4 bg-offwhite text-sm">
  <div class="mx-auto">
    <!-- <div class="pt-6">
      <SectionHeader text="Links" />
    </div> -->
    <div class="flex flex-wrap justify-between pt-2">
      <div class="font-mono">
        <div
          class="flex justify-start sm:justify-between flex-wrap gap-y-4 py-4 gap-8"
        >
          <div class="">
            <Link
              href="https://www.instagram.com/briansekelsky/"
              name="Instagram"
              footer="true"
            />
          </div>
          <div>
            <Link
              href="https://open.spotify.com/artist/4GYawQUhnxYepBC7WhUJ4N?si=UOrw0Pc-SQOmT_3K44T8Xg"
              name="Spotify"
              footer="true"
            />
          </div>
          <div>
            <Link
              href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ"
              name="Youtube"
              footer="true"
            />
          </div>
          <div>
            <Link
              href="https://www.linkedin.com/in/brian-sekelsky/"
              name="LinkedIn"
              footer="true"
            />
          </div>
          <div>
            <Link
              href="https://www.are.na/brian-sekelsky"
              name="Arena"
              footer="true"
            />
          </div>
          <div>
            <Link
              href="https://bsky.app/profile/briansekelsky.bsky.social"
              name="Bluesky"
              footer="true"
            />
          </div>
        </div>
      </div>
      <div class="sm:py-4 font-mono">
        © <span id="year"></span> Brian Sekelsky
      </div>
    </div>
  </div>
</div>
<!-- <div class="border-t px-8 py-2 flex justify-between">
  <div>
    © <span id="year"></span> Brian Sekelsky
  </div>
  <div>back to top</div>
</div> -->

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
