---
import NavLink from "./Nav-link.astro";
import Link from "./Link.astro";
import SectionHeader from "./SectionHeader.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

const year = new Date().getFullYear();
---

<div class="h-full dark:border-dark-border site-padding pb-4 bg-purewhite dark:bg-dark-surface text-sm dark:text-dark-text">
  <div class="mx-auto">
    <!-- <div class="pt-6">
      <SectionHeader text="Links" />
    </div> -->
    <div class="flex flex-wrap justify-between pt-2">
      <div class="">
        <div
          class="flex justify-start sm:justify-between flex-wrap gap-y-4 py-4 gap-8"
        >
          <div class="">
            <NavLink
              href="https://www.instagram.com/briansekelsky/"
              name="Instagram"
            />
          </div>
          <div>
            <NavLink
              href="https://open.spotify.com/artist/4GYawQUhnxYepBC7WhUJ4N?si=UOrw0Pc-SQOmT_3K44T8Xg"
              name="Spotify"
            />
          </div>
          <div>
            <NavLink
              href="https://www.youtube.com/channel/UCiHaEMWLCmFCeUkskrNeObQ"
              name="Youtube"
            />
          </div>
          <div>
            <NavLink
              href="https://www.linkedin.com/in/brian-sekelsky/"
              name="LinkedIn"
            />
          </div>
          <div>
            <NavLink
              href="https://www.are.na/brian-sekelsky"
              name="Arena"
            />
          </div>
          <!-- <div>
            <Link
              href="https://bsky.app/profile/briansekelsky.bsky.social"
              name="Bluesky"
              footer="true"
            />
          </div> -->
        </div>
      </div>
      <div class="sm:py-4">
        © <span id="year"></span> Brian Sekelsky
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
