---
import cardMap from "./card-map.js";
import SmallHeading from "./SmallHeading.astro";
---

<div class="site-padding-flush">
  <!-- <p class="pb-4">Select Projects</p> -->
  <!-- <SmallHeading text="Select Projects" /> -->
  <div id="gallery" class="grid grid-cols-6 border-t border-l border-[#d6daff]">
    {
      cardMap.map(({ Component, typeClass, size }) => (
        <Component typeClass={typeClass} size={size} />
      ))
    }
  </div>
</div>

<style>
  .auto-rows-auto {
    grid-auto-rows: 1fr;
  }
</style>
