---
import GalleryFilter from './GalleryFilter.astro';
import GalleryGrid from './GalleryGrid.astro';
import SmallHeading from './SmallHeading.astro';
---

<div class="w-full">
  <GalleryGrid />
</div>