---
import GalleryFilter from './GalleryFilter.astro';
import GalleryGrid from './GalleryGrid.astro';
---

<div class="w-full">
  <!-- <GalleryFilter /> -->
  <GalleryGrid />
</div>

<script type="module" src="/scripts/gallery-filters.js"></script>
