---
import Card from "./Card.astro";

import HighestMountain from "./Gallery-cards/HighestMountain.astro";
import Fidelity from "./Gallery-cards/Fidelity.astro";
import SizeAndScale from "./Gallery-cards/SizeAndScale.astro";
import CriticalImages from "./Gallery-cards/CriticalImages.astro";
import Vespertine from "./Gallery-cards/Vespertine.astro";
import ImaginePublicTransit from "./Gallery-cards/ImaginePublicTransit.astro";
import Nothing from "./Gallery-cards/Nothing.astro";
import WitnessingGlaciers from "./Gallery-cards/WitnessingGlaciers.astro";
import ScaleWorlds from "./Gallery-cards/ScaleWorlds.astro";
import DeliberateAI from "./Gallery-cards/DeliberateAI.astro";
import Around from "./Gallery-cards/Around.astro";
import TerraFirma from "./Gallery-cards/TerraFirma.astro";
import SpeculativeDesignWorkshop from "./Gallery-cards/SpeculativeDesignWorkshop.astro";
import PossibleInternet from "./Gallery-cards/PossibleInternet.astro";
import PartsUnlimited from "./Gallery-cards/PartsUnlimited.astro";
import LAS from "./Gallery-cards/LAS.astro";
import ConcertInterface from "./Gallery-cards/ConcertInterface.astro";
import Animism from "./Gallery-cards/Animism.astro";
import NPCA from "./Gallery-cards/NPCA.astro";
import Preserving from "./Gallery-cards/Preserving.astro";
---

<div class="hidden md:flex justify-center gap-2 my-6">
  <div
    id="allButton"
    class="text-lg border cursor-pointer px-3 rounded-full hover:bg-offwhite"
  >
    All
  </div>
  <div
    id="websiteButton"
    class="text-lg border cursor-pointer px-3 rounded-full hover:bg-offwhite"
  >
    Website
  </div>
  <div
    id="userExperienceButton"
    class="text-lg border cursor-pointer px-3 rounded-full hover:bg-offwhite"
  >
    User Experience
  </div>
  <div
    id="brandingButton"
    class="text-lg border cursor-pointer px-3 rounded-full hover:bg-offwhite"
  >
    Branding
  </div>
  <div
    id="teachingButton"
    class="text-lg border cursor-pointer px-3 rounded-full hover:bg-offwhite"
  >
    Teaching
  </div>
  <div
    id="writingButton"
    class="text-lg border cursor-pointer px-3 rounded-full hover:bg-offwhite"
  >
    Writing
  </div>
  <div
    id="caseStudyButton"
    class="text-lg border cursor-pointer px-3 rounded-full hover:bg-offwhite"
  >
    w/ Case Study
  </div>
</div>

<div class="border-t">
  <div class="mx-auto bg-black">
    <!-- All -->
    <div
      id="all"
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr"
    >
      <SizeAndScale />
      <CriticalImages />
      <ImaginePublicTransit />
      <Animism />
      <Preserving />
      <WitnessingGlaciers />
      <Vespertine />
      <Around />
      <Fidelity />
      <ScaleWorlds />
      <DeliberateAI />
      <SpeculativeDesignWorkshop />
      <PossibleInternet />
      <LAS />
      <TerraFirma />
      <ConcertInterface />
      <NPCA />
      <!-- <PartsUnlimited /> -->
    </div>
    <!-- Branding Group -->
    <div
      id="branding"
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr hidden"
    >
      <!-- <div class="hidden lg:block bg-white w-full col-span-1">&nbsp;</div> -->
      <CriticalImages />
      <ImaginePublicTransit />
      <Vespertine />
      <Around />
      <WitnessingGlaciers />
      <TerraFirma />
      <ConcertInterface />
      <NPCA />
      <div class="hidden lg:block bg-white w-full col-span-1">&nbsp;</div>
    </div>
    <!-- Website -->
    <div
      id="website"
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr hidden"
    >
      <SizeAndScale />
      <WitnessingGlaciers />
      <Vespertine />
      <TerraFirma />
      <NPCA />
      <PartsUnlimited />
    </div>
    <!-- User Experience -->
    <div
      id="userExperience"
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr hidden"
    >
      <SizeAndScale />
      <Fidelity />
      <ScaleWorlds />
      <DeliberateAI />
      <PartsUnlimited />
      <LAS />
      <div class="hidden lg:block bg-white w-full col-span-1">&nbsp;</div>
    </div>
    <!-- Teaching -->
    <div
      id="teaching"
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr hidden"
    >
      <div class="hidden lg:block bg-white w-full col-span-1">&nbsp;</div>
      <Animism />
      <SpeculativeDesignWorkshop />
      <div class="hidden lg:block bg-white w-full col-span-1">&nbsp;</div>
    </div>
    <!-- Writing -->
    <div
      id="writing"
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr hidden"
    >
      <div class="hidden lg:block bg-white w-full col-span-1">&nbsp;</div>
      <Preserving />
      <div class="hidden lg:block bg-white w-full col-span-2">&nbsp;</div>
    </div>
    <!-- Case study -->
    <div
      id="caseStudy"
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr hidden"
    >
      <SizeAndScale />
      <WitnessingGlaciers />
      <ScaleWorlds />
      <div class="hidden lg:block bg-white w-full col-span-2 row-span-2">
        &nbsp;
      </div>
    </div>
  </div>
</div>

<style>
  .gap-1 {
    gap: 1px;
  }
</style>

<script>
  const all = document.querySelector("#all");
  const allButton = document.querySelector("#allButton");

  const branding = document.querySelector("#branding");
  const brandingButton = document.querySelector("#brandingButton");

  const website = document.querySelector("#website");
  const websiteButton = document.querySelector("#websiteButton");

  const userExperience = document.querySelector("#userExperience");
  const userExperienceButton = document.querySelector("#userExperienceButton");

  const teaching = document.querySelector("#teaching");
  const teachingButton = document.querySelector("#teachingButton");

  const writing = document.querySelector("#writing");
  const writingButton = document.querySelector("#writingButton");

  const caseStudy = document.querySelector("#caseStudy");
  const caseStudyButton = document.querySelector("#caseStudyButton");

  allButton.addEventListener("click", function () {
    all.classList.remove("hidden");
    branding.classList.add("hidden");
    website.classList.add("hidden");
    userExperience.classList.add("hidden");
    teaching.classList.add("hidden");
    writing.classList.add("hidden");
    caseStudy.classList.add("hidden");
  });

  brandingButton.addEventListener("click", function () {
    all.classList.add("hidden");
    branding.classList.remove("hidden");
    website.classList.add("hidden");
    userExperience.classList.add("hidden");
    teaching.classList.add("hidden");
    writing.classList.add("hidden");
    caseStudy.classList.add("hidden");
  });

  websiteButton.addEventListener("click", function () {
    all.classList.add("hidden");
    branding.classList.add("hidden");
    website.classList.remove("hidden");
    userExperience.classList.add("hidden");
    teaching.classList.add("hidden");
    writing.classList.add("hidden");
    caseStudy.classList.add("hidden");
  });

  userExperienceButton.addEventListener("click", function () {
    all.classList.add("hidden");
    branding.classList.add("hidden");
    website.classList.add("hidden");
    userExperience.classList.remove("hidden");
    teaching.classList.add("hidden");
    writing.classList.add("hidden");
    caseStudy.classList.add("hidden");
  });

  teachingButton.addEventListener("click", function () {
    all.classList.add("hidden");
    branding.classList.add("hidden");
    website.classList.add("hidden");
    userExperience.classList.add("hidden");
    teaching.classList.remove("hidden");
    writing.classList.add("hidden");
    caseStudy.classList.add("hidden");
  });

  writingButton.addEventListener("click", function () {
    all.classList.add("hidden");
    branding.classList.add("hidden");
    website.classList.add("hidden");
    userExperience.classList.add("hidden");
    teaching.classList.add("hidden");
    writing.classList.remove("hidden");
    caseStudy.classList.add("hidden");
  });

  caseStudyButton.addEventListener("click", function () {
    all.classList.add("hidden");
    branding.classList.add("hidden");
    website.classList.add("hidden");
    userExperience.classList.add("hidden");
    teaching.classList.add("hidden");
    writing.classList.add("hidden");
    caseStudy.classList.remove("hidden");
  });
</script>
