---
import GalleryFilter from './GalleryFilter.astro';
import GalleryGrid from './GalleryGrid.astro';
import SmallHeading from './SmallHeading.astro';
---

<div class="w-full">
  <GalleryGrid />
</div>

<!-- <script type="module" src="/scripts/gallery-filters.js"></script> -->

<script type="module" src="/scripts/card-animation.js"></script>
