---
import Card from "./Card.astro";
---

<div
  class="divide-x divide-y grid-cols-3 space-y-2 lg:space-y-0 lg:grid lg:grid-rows-3"
>
  <Card
    title="Project 1"
    description="this is an explanation about project 1"
    year="2023"
    type="Visual"
    size="small"
    src="/images/around.gif"
  />
  <Card
    title="Project 2"
    description="this is an explanation about project 2"
    year="2023"
    type="User Experience | Visual"
    size="medium"
    src="/images/around.gif"
  />
  <Card
    title="Project 3"
    description="this is an explanation about project 3"
    year="2023"
    type="Visual"
    size="small"
    src="/images/around.gif"
  />
  <Card
    title="Project 4"
    description="this is an explanation about project 4"
    year="2023"
    type="Visual"
    size="small"
    src="/images/around.gif"
  />
  <Card
    title="Project 5"
    description="this is an explanation about project 5"
    year="2023"
    type="Visual"
    size="small"
    src="/images/around.gif"
  />
  <Card
    title="Project 6"
    description="this is an explanation about project 6"
    year="2023"
    type="Visual"
    size="small"
    src="/images/around.gif"
  />
</div>
