---
import Card from "./Card.astro";

import HighestMountain from "./Gallery-cards/HighestMountain.astro";
import Fidelity from "./Gallery-cards/Fidelity.astro";
import SizeAndScale from "./Gallery-cards/SizeAndScale.astro";
import CriticalImages from "./Gallery-cards/CriticalImages.astro";
import Vespertine from "./Gallery-cards/Vespertine.astro";
import ImaginePublicTransit from "./Gallery-cards/ImaginePublicTransit.astro";
import Nothing from "./Gallery-cards/Nothing.astro";
import WitnessingGlaciers from "./Gallery-cards/WitnessingGlaciers.astro";
import ScaleWorlds from "./Gallery-cards/ScaleWorlds.astro";
import DeliberateAI from "./Gallery-cards/DeliberateAI.astro";
import Around from "./Gallery-cards/Around.astro";
import TerraFirma from "./Gallery-cards/TerraFirma.astro";
import SpeculativeDesignWorkshop from "./Gallery-cards/SpeculativeDesignWorkshop.astro";
import PossibleInternet from "./Gallery-cards/PossibleInternet.astro";
import PartsUnlimited from "./Gallery-cards/PartsUnlimited.astro";
import LAS from "./Gallery-cards/LAS.astro";
import ConcertInterface from "./Gallery-cards/ConcertInterface.astro";
import Animism from "./Gallery-cards/Animism.astro";
---

<div class="border-t">
  <div class="container mx-auto bg-black sm:border-x">
    <div
      class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 auto-rows-fr"
    >
      <SizeAndScale />
      <CriticalImages />
      <ImaginePublicTransit />
      <Animism />
      <Vespertine />
      <!-- <Nothing /> -->
      <WitnessingGlaciers />
      <Fidelity />
      <ScaleWorlds />
      <DeliberateAI />
      <Around />
      <PossibleInternet />
      <SpeculativeDesignWorkshop />
      <HighestMountain />
      <LAS />
      <TerraFirma />
      <ConcertInterface />
      <PartsUnlimited />
    </div>
  </div>
</div>

<style>
  .gap-1 {
    gap: 1px;
  }
</style>

<script>
  let v = document.createElement("video");
  if (v.canPlayType && v.canPlayType("video/mp4").replace(/no/, "")) {
    const gifs = document.getElementsByClassName("gif");
    for (let i = 0; i < gifs.length; i++) {
      gifs[i].classList.add("hidden");
    }
  } else {
    const videos = document.getElementsByClassName("video");
    for (let i = 0; i < videos.length; i++) {
      videos[i].classList.add("hidden");
    }
  }
</script>
