---
import Card from "./Card.astro";

import HighestMountain from "./Gallery-cards/HighestMountain.astro";
import Fidelity from "./Gallery-cards/Fidelity.astro";
import SizeAndScale from "./Gallery-cards/SizeAndScale.astro";
import CriticalImages from "./Gallery-cards/CriticalImages.astro";
import Vespertine from "./Gallery-cards/Vespertine.astro";
import ImaginePublicTransit from "./Gallery-cards/ImaginePublicTransit.astro";
import Nothing from "./Gallery-cards/Nothing.astro";
import WitnessingGlaciers from "./Gallery-cards/WitnessingGlaciers.astro";
import ScaleWorlds from "./Gallery-cards/ScaleWorlds.astro";
import DeliberateAI from "./Gallery-cards/DeliberateAI.astro";
import Around from "./Gallery-cards/Around.astro";
import TerraFirma from "./Gallery-cards/TerraFirma.astro";
import SpeculativeDesignWorkshop from "./Gallery-cards/SpeculativeDesignWorkshop.astro";
import PossibleInternet from "./Gallery-cards/PossibleInternet.astro";
import PartsUnlimited from "./Gallery-cards/PartsUnlimited.astro";
import LAS from "./Gallery-cards/LAS.astro";
import ConcertInterface from "./Gallery-cards/ConcertInterface.astro";
import Animism from "./Gallery-cards/Animism.astro";
import NPCA from "./Gallery-cards/NPCA.astro";
import Preserving from "./Gallery-cards/Preserving.astro";
---

<div
  id="buttons"
  class="hidden md:flex justify-center gap-2 py-3 border-t px-8"
>
  <div
    id="allButton"
    class="text-sm uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite shadow-md transition-all"
  >
    All
  </div>
  <div
    id="websiteButton"
    class="text-sm uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite transition-all"
  >
    Website
  </div>
  <div
    id="userExperienceButton"
    class="text-sm uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite transition-all"
  >
    UX
  </div>
  <div
    id="brandingButton"
    class="text-sm uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite transition-all"
  >
    Visual
  </div>
  <div
    id="teachingButton"
    class="text-sm uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite transition-all"
  >
    Teaching
  </div>
  <div
    id="writingButton"
    class="text-sm uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite transition-all"
  >
    Writing
  </div>
  <div
    id="caseStudyButton"
    class="text-sm uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite transition-all"
  >
    w/ Case Study
  </div>
</div>

<div class="border-t">
  <div class="mx-auto bg-black">
    <!-- All -->
    <div
      id="all"
      class="grid gap-1 grid-cols-2 sm:grid-cols-4 md:grid-cols-5 grid-flow-row-dense md:auto-rows-fr"
    >
      <SizeAndScale typeClass="website userExperience caseStudy" />
      <CriticalImages typeClass="branding" />
      <ImaginePublicTransit typeClass="branding" />
      <Animism typeClass="teaching" />
      <Preserving typeClass="writing" />
      <WitnessingGlaciers typeClass="website branding caseStudy" />
      <Vespertine typeClass="visual website branding" />
      <Fidelity typeClass="userExperience" />
      <ScaleWorlds typeClass="userExperience caseStudy" />
      <DeliberateAI typeClass="userExperience" />
      <SpeculativeDesignWorkshop typeClass="teaching" />
      <PossibleInternet typeClass="userExperience caseStudy" />
      <LAS typeClass="userExperience" />
      <TerraFirma typeClass="branding website" />
      <ConcertInterface typeClass="branding" />
      <NPCA typeClass="branding website" />
      <PartsUnlimited typeClass="website userExperience" />
    </div>
  </div>

  <style>
    .gap-1 {
      gap: 1px;
    }
  </style>

  <script>
    const all = document.querySelector("#all");
    const allButton = document.querySelector("#allButton");

    const brandingButton = document.querySelector("#brandingButton");

    const websiteButton = document.querySelector("#websiteButton");

    const userExperienceButton = document.querySelector(
      "#userExperienceButton"
    );

    const teachingButton = document.querySelector("#teachingButton");

    const writingButton = document.querySelector("#writingButton");

    const caseStudyButton = document.querySelector("#caseStudyButton");

    const buttons = [].slice.call(
      document.getElementById("buttons").childNodes,
      0
    );

    allButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0
      );

      buttons.forEach((button) => {
        button.classList.remove("shadow-md");
        this.classList.add("shadow-md");
      });

      children.forEach((item) => {
        item.classList.remove("hidden");
      });
    });

    brandingButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0
      );

      buttons.forEach((button) => {
        button.classList.remove("shadow-md");
        this.classList.add("shadow-md");
      });

      children.forEach((item) => {
        if (item.classList.contains("Visual")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    websiteButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0
      );

      buttons.forEach((button) => {
        button.classList.remove("shadow-md");
        this.classList.add("shadow-md");
      });

      children.forEach((item) => {
        if (item.classList.contains("Website")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    userExperienceButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0
      );

      buttons.forEach((button) => {
        button.classList.remove("shadow-md");
        this.classList.add("shadow-md");
      });

      children.forEach((item) => {
        if (item.classList.contains("UX")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    teachingButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0
      );

      buttons.forEach((button) => {
        button.classList.remove("shadow-md");
        this.classList.add("shadow-md");
      });

      children.forEach((item) => {
        if (item.classList.contains("Teaching")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    writingButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0
      );

      buttons.forEach((button) => {
        button.classList.remove("shadow-md");
        this.classList.add("shadow-md");
      });

      children.forEach((item) => {
        if (item.classList.contains("Writing")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    caseStudyButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0
      );

      buttons.forEach((button) => {
        button.classList.remove("shadow-md");
        this.classList.add("shadow-md");
      });

      children.forEach((item) => {
        if (item.classList.contains("CaseStudy")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });
  </script>
</div>
