---
import Card from "./Card.astro";

import HighestMountain from "./Gallery-cards/HighestMountain.astro";
import Fidelity from "./Gallery-cards/Fidelity.astro";
import SizeAndScale from "./Gallery-cards/SizeAndScale.astro";
import CriticalImages from "./Gallery-cards/CriticalImages.astro";
import Vespertine from "./Gallery-cards/Vespertine.astro";
import ImaginePublicTransit from "./Gallery-cards/ImaginePublicTransit.astro";
import Nothing from "./Gallery-cards/Nothing.astro";
import WitnessingGlaciers from "./Gallery-cards/WitnessingGlaciers.astro";
import ScaleWorlds from "./Gallery-cards/ScaleWorlds.astro";
import DeliberateAI from "./Gallery-cards/DeliberateAI.astro";
import Around from "./Gallery-cards/Around.astro";
import TerraFirma from "./Gallery-cards/TerraFirma.astro";
import SpeculativeDesignWorkshop from "./Gallery-cards/SpeculativeDesignWorkshop.astro";
import PossibleInternet from "./Gallery-cards/PossibleInternet.astro";
import PartsUnlimited from "./Gallery-cards/PartsUnlimited.astro";
import LAS from "./Gallery-cards/LAS.astro";
import ConcertInterface from "./Gallery-cards/ConcertInterface.astro";
import Animism from "./Gallery-cards/Animism.astro";
import NPCA from "./Gallery-cards/NPCA.astro";
import Preserving from "./Gallery-cards/Preserving.astro";
---

<div
  id="buttons"
  class="flex flex-wrap max-w-100 justify-start gap-2 p-4 items-center border-t"
>
  <div
    id="allButton"
    class="uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite hover:lowercase bg-black text-white transition-all"
  >
    All
  </div>
  <div
    id="websiteButton"
    class="uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite hover:lowercase transition-all"
  >
    Website
  </div>
  <div
    id="userExperienceButton"
    class="uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite hover:lowercase transition-all"
  >
    UX
  </div>
  <div
    id="brandingButton"
    class="uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite hover:lowercase transition-all"
  >
    Visual
  </div>
  <div
    id="writingButton"
    class="uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite hover:lowercase transition-all"
  >
    Writing
  </div>
  <div
    id="caseStudyButton"
    class="uppercase font-mono border cursor-pointer px-3 rounded-full hover:bg-offwhite hover:lowercase transition-all"
  >
    w/ Case Study
  </div>
</div>

<div class="border-t">
  <div class="mx-auto bg-black">
    <!-- All -->
    <div
      id="all"
      class="grid gap-1 grid-cols-1 sm:grid-cols-4 md:grid-cols-5 grid-flow-row-dense md:auto-rows-fr"
    >
      <SizeAndScale typeClass="website userExperience caseStudy" />
      <CriticalImages typeClass="branding" />
      <ImaginePublicTransit typeClass="branding" />
      <Preserving typeClass="writing" />
      <WitnessingGlaciers typeClass="website branding caseStudy" />
      <Vespertine typeClass="visual website branding" />
      <TerraFirma typeClass="visual website branding" />
      <Fidelity typeClass="userExperience" />
      <ScaleWorlds typeClass="userExperience caseStudy" />
      <PossibleInternet typeClass="userExperience caseStudy" />
    </div>
  </div>

  <style>
    .gap-1 {
      gap: 1px;
    }
  </style>

  <script>
    const all = document.querySelector("#all");
    const allButton = document.querySelector("#allButton");

    const brandingButton = document.querySelector("#brandingButton");

    const websiteButton = document.querySelector("#websiteButton");

    const userExperienceButton = document.querySelector(
      "#userExperienceButton",
    );

    // const teachingButton = document.querySelector("#teachingButton");

    const writingButton = document.querySelector("#writingButton");

    const caseStudyButton = document.querySelector("#caseStudyButton");

    const buttons = [].slice.call(
      document.getElementById("buttons").childNodes,
      0,
    );

    allButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0,
      );

      buttons.forEach((button) => {
        button.classList.remove("text-white");
        button.classList.remove("bg-black");
        this.classList.add("text-white");
        this.classList.add("bg-black");

        button.classList.add("hover:bg-offwhite");
        this.classList.remove("hover:bg-offwhite");
      });

      children.forEach((item) => {
        item.classList.remove("hidden");
      });
    });

    brandingButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0,
      );

      buttons.forEach((button) => {
        button.classList.remove("text-white");
        button.classList.remove("bg-black");
        this.classList.add("text-white");
        this.classList.add("bg-black");

        button.classList.add("hover:bg-offwhite");
        this.classList.remove("hover:bg-offwhite");
      });

      children.forEach((item) => {
        if (item.classList.contains("Visual")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    websiteButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0,
      );

      buttons.forEach((button) => {
        button.classList.remove("text-white");
        button.classList.remove("bg-black");
        this.classList.add("text-white");
        this.classList.add("bg-black");

        button.classList.add("hover:bg-offwhite");
        this.classList.remove("hover:bg-offwhite");
      });

      children.forEach((item) => {
        if (item.classList.contains("Website")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    userExperienceButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0,
      );

      buttons.forEach((button) => {
        button.classList.remove("text-white");
        button.classList.remove("bg-black");
        this.classList.add("text-white");
        this.classList.add("bg-black");

        button.classList.add("hover:bg-offwhite");
        this.classList.remove("hover:bg-offwhite");
      });

      children.forEach((item) => {
        if (item.classList.contains("UX")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    // teachingButton.addEventListener("click", function () {
    //   const children = [].slice.call(
    //     document.getElementById("all").childNodes,
    //     0,
    //   );

    //   buttons.forEach((button) => {
    //     button.classList.remove("bg-black text-white");
    //     this.classList.add("bg-black text-white");
    //   });

    //   children.forEach((item) => {
    //     if (item.classList.contains("Teaching")) {
    //       item.classList.remove("hidden");
    //     } else {
    //       item.classList.add("hidden");
    //     }
    //   });
    // });

    writingButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0,
      );

      buttons.forEach((button) => {
        button.classList.remove("text-white");
        button.classList.remove("bg-black");
        this.classList.add("text-white");
        this.classList.add("bg-black");

        button.classList.add("hover:bg-offwhite");
        this.classList.remove("hover:bg-offwhite");
      });

      children.forEach((item) => {
        if (item.classList.contains("Writing")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });

    caseStudyButton.addEventListener("click", function () {
      const children = [].slice.call(
        document.getElementById("all").childNodes,
        0,
      );

      buttons.forEach((button) => {
        button.classList.remove("text-white");
        button.classList.remove("bg-black");
        this.classList.add("text-white");
        this.classList.add("bg-black");

        button.classList.add("hover:bg-offwhite");
        this.classList.remove("hover:bg-offwhite");
      });

      children.forEach((item) => {
        if (item.classList.contains("CaseStudy")) {
          item.classList.remove("hidden");
        } else {
          item.classList.add("hidden");
        }
      });
    });
  </script>
</div>
