<div id="header" class="transition-all duration-500 cursor-default">
  <div
    class="hidden sm:block p-8 sm:pt-8 max-w-full border-b bg cursor-pointer"
    id="header"
  >
    <div
      id="manipulate"
      class="text-4xl w-min font-serif font-light overflow-hidden pb-48 leading-[1.325]"
    >
      <div class="backdrop-blur-[4px] w-[60vw] rounded-lg px-4 py-2 border border-zinc-200">
        <h1 id="main-text"
          >Brian Sekelsky is an interactive designer and developer. His work focuses on social impact and education projects.
          <span class="ml-2 h-100 py-1 px-3 inline-block align-middle glow-pill bg-blue-50 rounded-full border border-blue-300 text-blue-500 text-xs italic font-serif font-regular">Open to work</span>
        </h1> 
      </div>
    </div>
  </div>
  <div class="block sm:hidden p-4 max-w-full border-b">
    <p
      id="manipulate"
      class="text-4xl font-serif font-light py-4 text-left"
    >
        Brian Sekelsky is an interactive designer and developer. His work focuses on social impact and education-oriented projects.
    </p>
  </div>
</div>

<style>
  .less-width {
    width: 100%;
  }

  @media (min-width: 1024px) {
    .less-width {
      width: 98%;
    }
  }
  .bg {
  }

  /* #main-text,
  #helper {
    text-shadow:
      -2px -2px 0 #ffffff,
      2px -2px 0 #ffffff,
      -2px 2px 0 #ffffff,
      2px 2px 0 #ffffff;
  } */

  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 5px 2px oklch(93.2% 0.032 255.585);
    }
    50% {
      box-shadow: 0 0 5px 3px oklch(80.9% 0.105 251.813);
    }
  }

  .glow-pill {
    animation: glow 3s ease-in-out infinite;
    width: fit-content;
    transform: translateY(-3px);
  }
</style>
