<div class="container mx-auto">
    <p class="text-7xl py-16 px-3 my-16 font-thin font-serif leading-tight">Hello, I’m Brian Sekelsky: a designer, researcher, & programmer. I’m currently completing my master’s in graphic & experience design at North Carolina State University.</p>
</div>