<div id="header" class="transition-all duration-500">
  <div
    class="hidden sm:block p-8 sm:pt-6 max-w-full border-b bg cursor-pointer"
    id="header"
  >
    <div
      id="manipulate"
      class="text-7xl overflow-hidden font-serif font-extralight pb-48 w-3/4"
    >
      <span id="main-text"
        >Brian Sekelsky is a designer, coder, teacher, & part-time
        musician.</span
      >
    </div>
    <div class="hidden sm:flex justify-between">
      <div
        id="helper"
        class="animate-bounce transition-all duration-500 text-black text-xs opacity-0 bg-white"
      >
        click anywhere for a new shape
      </div>
    </div>
  </div>
  <div class="block sm:hidden p-4 max-w-full border-b">
    <p
      id="manipulate"
      class="text-6xl py-4 text-left font-serif font-extralight"
    >
      Brian Sekelsky is a <i>designer</i>, coder, teacher, & part-time musician.
    </p>
  </div>
</div>

<style>
  .less-width {
    width: 100%;
  }

  @media (min-width: 1024px) {
    .less-width {
      width: 98%;
    }
  }
  .bg {
  }

  #main-text,
  #helper {
    text-shadow:
      -2px -2px 0 #ffffff,
      2px -2px 0 #ffffff,
      -2px 2px 0 #ffffff,
      2px 2px 0 #ffffff;
  }
</style>
