<div class="">
  <p class="p-3 lg:mb-52 h-full align-middle font-serif text-6xl lg:text-8xl">
    My name is Brian Sekelsky. I’m a designer, developer, researcher, &
    musician. This is my portfolio.
  </p>
</div>
