<div id="header">
  <div class="hidden lg:block p-8 sm:pt-4 max-w-full border-b bg" id="header">
    <p
      id="manipulate"
      class="text-5xl sm:text-7xl font-mono font-extralight uppercase cursor-pointer overflow-hidden pb-24"
    >
      <span id="main-text"
        >Brian Sekelsky is a product designer, coder, teacher, & musician.</span
      >
    </p>
  </div>
  <div class="lg:hidden p-4 max-w-full border-b">
    <p
      id="manipulate"
      class="text-6xl sm:text-7xl font-mono font-serif font-extralight uppercase py-4 cursor-pointer text-left"
    >
      Brian Sekelsky is a product designer, coder, teacher, & musician.
    </p>
  </div>
</div>

<style>
  #manipulate {
    /* cursor: pointer; */
    line-height: 1.14;
  }

  .less-width {
    width: 100%;
  }

  @media (min-width: 1024px) {
    .less-width {
      width: 98%;
    }
  }
  .bg {
  }
</style>

<script src="./header.js"></script>
