<div class="p-4 py-16 sm:pt-4 sm:pb-48">
  <p id="manipulate" class="text-6xl sm:text-7xl font-serif cursor-pointer">
    My name is Brian Sekelsky. I’m a designer, researcher, developer, &
    musician.
  </p>
</div>

<style>
  #manipulate {
    /* cursor: pointer; */
  }
</style>

<script src="./header.js"></script>
