<div class="p-3 py-12 lg:p-24">
  <p
    class="text-center font-serif leading-tight text-6xl lg:text-8xl lg:leading-tight"
  >
    <!-- My name is Brian Sekelsky. I’m a designer, developer, researcher, &
    musician. This is my portfolio. -->

     I’m a designer, researcher, developer, & musician. This is my portfolio.
  </p>
</div>
<p class="text-xs uppercase font-thin font-mono pb-3 text-center">
  currently under construction
</p>
