---
---

<div class="transition-all duration-500">
  <div
    class="sm:mt-0 p-8 sm:pt-8 min-h-[60vh] sm:min-h-[600px] max-w-full border-b dark:border-dark-border bg"
    id="header"
  >
    <p class="sr-only">
      Brian Sekelsky is a designer, working across user experience, visual design, and code.
    </p>
  </div>
</div>

<script type="module" src="/scripts/header-sketch.js" is:inline></script>

<style>
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
</style>
