<div>
  <p class="px-3 mb-6 mt-2 h-full align-middle font-serif font-thin text-6xl">
    My name is Brian Sekelsky. I’m a designer, developer, researcher, &
    musician. This is my portfolio.
  </p>
</div>
