<div class="hidden sm:block p-4 sm:pt-4 max-w-full">
  <p id="manipulate" class="text-6xl sm:text-6xl font-serif cursor-pointer">
    Brian0Sekelsky000is000000000000a00000000000000000000000000000000000000000000000000000000designer&&&&&&&&&&&&researcher&&&&&&&&&&&&&&&&&&&&&&&&developer&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&musician0000000000000000000000000000000000000000000000000000projects↓000000000000000000000000000
  </p>
</div>
<div class="sm:hidden p-4 py-16 sm:pt-4 max-w-full">
  <p id="manipulate" class="text-6xl sm:text-7xl font-serif cursor-pointer">
    Brian Sekelsky is a designer, researcher, developer, & musician
  </p>
</div>

<style>
  #manipulate {
    /* cursor: pointer; */
  }
</style>

<script src="./header.js"></script>
