<div class="hidden lg:block p-8 sm:pt-4 max-w-full">
  <p
    id="manipulate"
    class="text-5xl sm:text-8xl font-serif uppercase cursor-pointer overflow-hidden pb-24 less-width"
  >
    <span id="main-text"
      >Brian Sekelsky is a designer, teacher, coder, & musician.</span
    >
  </p>
</div>
<div class="lg:hidden p-4 max-w-full">
  <p
    id="manipulate"
    class="text-6xl sm:text-7xl font-serif font-bold uppercase py-4 cursor-pointer text-center"
  >
    Brian Sekelsky is a designer, teacher, coder, & musician
  </p>
</div>

<style>
  #manipulate {
    /* cursor: pointer; */
    line-height: 1.14;
  }

  .less-width {
    width: 100%;
  }

  @media (min-width: 1024px) {
    .less-width {
      width: 97%;
    }
  }
</style>

<script src="./header.js"></script>
