<div class="p-4 py-16 sm:pt-4 sm:pb-48 sm:max-h-96 md:max-w-3/4">
  <p
    id="manipulate"
    class="text-left text-3xl sm:text-5xl font-serif cursor-pointer"
  >
    My name is Brian Sekelsky. I’m a designer, researcher, developer, & musician. This website is a portfolio & archive for my work.
  </p>
</div>

<style>
  #manipulate {
    /* cursor: pointer; */
  }
</style>

<script src="./header.js"></script>
