<div class="">
  <p
    class="p-6 lg:p-12 font-serif text-center leading-tight text-6xl lg:text-8xl leading lg:leading-tight"
  >
    My name is Brian Sekelsky. I’m a designer, developer, researcher, &
    musician. This is my portfolio.
  </p>
</div>
