<div id="header" class="transition-all duration-500">
  <div class="hidden sm:block p-8 sm:pt-6 max-w-full border-b bg" id="header">
    <p
      id="manipulate"
      class="text-5xl sm:text-8xl cursor-pointer overflow-hidden pb-24 font-mono uppercase"
    >
      <span id="main-text"
        >Brian Sekelsky is a designer, coder, teacher, & musician.
      </span>
    </p>
    <div class="hidden sm:flex justify-between">
      <div
        id="helper"
        class="text-sm font-mono animate-bounce transition-all duration-500 text-white font-extralight"
      >
        ↑ click a letter to change the background color
      </div>
      <div
        id="clearer"
        class="text-sm font-mono text-right transition-all duration-500 text-white font-extralight cursor-pointer hidden"
      >
        reset
      </div>
    </div>
  </div>
  <div class="sm:hidden p-4 max-w-full border-b">
    <p
      id="manipulate"
      class="text-6xl sm:text-7xl py-4 cursor-pointer text-left font-serif uppercase"
    >
      Brian Sekelsky is a designer, coder, teacher, & musician.
    </p>
  </div>
</div>

<style>
  .less-width {
    width: 100%;
  }

  @media (min-width: 1024px) {
    .less-width {
      width: 98%;
    }
  }
  .bg {
  }
</style>

<script src="./header.js"></script>
