---
const currentPath = new URL(Astro.request.url).pathname;

interface Props {
  href: string;
  name: string;
  footer?: boolean;
  newtab?: boolean;
}

const { href, name, footer = false, newtab = false } = Astro.props;
---

{
  newtab ? (
    <a
      target="_blank"
      rel="noopener noreferrer"
      class={footer ? "underline" : "underline hover:text-blue"}
      href={href}
    >
      {name}
    </a>
  ) : (
    <a class={footer ? "underline" : "underline hover:text-blue"} href={href}>
      {name}
    </a>
  )
}
