<div>
  <div class="container mx-auto">
    <p
      class="text-center font-serif font-thin py-16 my-16 px-3 leading-tight h-full align-middle text-4xl md:text-6xl"
    >
      music page coming soon
    </p>
  </div>
</div>
