<div>
  <div class="container mx-auto">
    <p
      class="text-center font-serif font-thin text-6xl py-16 my-16 px-3 leading-tight h-full align-middle"
    >
      music page coming soon
    </p>
  </div>
</div>
