<div class="p-3 py-12 lg:px-36 lg:py-28">
  <p
    id="manipulate"
    class="text-center font-serif leading-tight text-5xl sm:text-7xl lg:leading-tight"
  >
    Music page coming soon.
  </p>
</div>
