---
import Link from "./Link.astro";
import ProjectHeader from "./ProjectHeader.astro";

let types = ["Electronic", "Ambient", "Experimental", "Folk", "Pop"];
---

<div class="load-in">
  <div
    id="header"
    class="py-4 sm:pt-6 px-4 sm:px-8 pb-0 bg-white border-b transition-all duration-500"
  >
    <p
      id="manipulate"
      class="text-left text-5xl sm:text-7xl font-mono tracking-tight font-extralight cursor-pointer line-height-1.4"
    >
      Winter Foe
    </p>
  </div>
</div>
<div
  class="load-in flex flex-col lg:grid grid-cols-2 text-lg lg:divide-x border-b"
>
  <div class="font-extralight col-span-1 p-4 sm:p-8 sm:pb-16">
    Winter Foe is a music project that I have been working on since around 2018.
    I am searching for new ways to combine digital sounds, electronics, acoustic
    instruments, and field recordings. Through this project I have expanded my
    visual vocabulary by producing album art, animations, and videos. I have
    also had the opportunity to collaborate with some amazing musicians.

    <div
      class="flex-col sm:flex-row flex flex-wrap gap-4 sm:gap-12 my-4 sm:mb-0 sm:mt-8"
    >
      <Link
        href="https://open.spotify.com/artist/4GYawQUhnxYepBC7WhUJ4N"
        name="Spotify"
      />
      <Link
        href="https://music.apple.com/us/artist/winter-foe/1336473956"
        name="Apple Music"
      />
      <Link href="https://winterfoe.bandcamp.com/" name="Bandcamp" />
      <Link href="https://soundcloud.com/winterfoe" name="Soundcloud" />
    </div>
    <slot />
  </div>
  <div
    class="hidden sm:flex justify-between gap-12 col-span-1 p-4 sm:p-8 sm:pb-16"
  >
    <div>
      <p class="font-mono uppercase font-bold text-lg mb-4">Genres</p>
      <div class={types.length > 0 ? "hidden sm:block" : "hidden"}>
        {types.map((type) => <p class="">{type}</p>)}
      </div>
    </div>
    <div class="">
      <p class="font-mono uppercase font-bold text-lg mb-4">Year</p>
      <p class="">2018 – Present</p>
    </div>
    <div class="invisible">
      <p class="font-mono uppercase font-bold text-lg mb-4">Collaborators</p>
      <div>Collaborators</div>
    </div>
  </div>
</div>
<div class="load-in flex flex-col md:flex-row justify-stretch">
  <div class="md:flex-1">
    <iframe
      width="100%"
      height="450"
      src="https://www.youtube.com/embed/ci7wcKekVwo?si=xxn-bp3RC_ioJQEd"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</div>
<div class="load-in flex flex-col md:flex-row justify-stretch border-t">
  <div class="border-b md:border-b-0 md:border-r flex-1">
    <iframe
      width="100%"
      height="450"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/399394223%3Fsecret_token%3Ds-KURyV&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe><div
      style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
    >
    </div>
  </div>
  <div class="border-b md:border-b-0 md:border-r flex-1 bg-black">
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/artist/4GYawQUhnxYepBC7WhUJ4N?utm_source=generator&theme=0"
      width="100%"
      height="450"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>
  </div>
</div>

<script src="./header.js"></script>

<style>
  #manipulate {
    /* cursor: pointer; */
    margin-bottom: 0.7rem;
  }
</style>
