---
const currentPath = new URL(Astro.request.url).pathname;

interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
---

<a href={href}>
  <span
    class={currentPath === href
      ? "rounded-full border px-4 lg:first:ml-0"
      : "rounded-full border lg:first:ml-0 mx-4 border-white hover:text-blue"}
  >
    {name}
  </span>
</a>
