---
const currentPath = new URL(Astro.request.url).pathname;

interface Props {
  href: string;
  name: string;
}

const { href, name } = Astro.props;
---

<a href={href}>
  <span
    class={currentPath === href
      ? "font-bold lg:first:ml-0 hover:bg-lightgray py-2 px-2 rounded-md"
      : "lg:first:ml-0 hover:bg-lightgray py-2 px-2 rounded-md"}
  >
    {name}
  </span>
</a>
