---
import NavLink from "./Nav-link.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="border-b">
  <div class="mx-auto">
    <div class="flex flex-wrap justify-between p-3">
      <div class="w-full sm:w-1/2">
        <NavLink href="/#" name="BRIAN SEKELSKY" />
      </div>
      <div class="flex flex-wrap gap-8 pt-6 sm:pt-0">
        <NavLink href="/" name="DESIGN" />
        <NavLink href="/music" name="MUSIC" />
        <NavLink href="/about" name="ABOUT" />
      </div>
    </div>
  </div>
</div>
