---
import NavLink from "./Nav-link.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="block">
  <div class="mx-auto">
    <div class="flex flex-wrap justify-center gap-4 lg:flex-nowrap sm:justify-between p-4 py-8 site-padding">
      <div class="w-full">
        <a href="/#" class="w-full bold lg:first:ml-0 flex justify-center lg:justify-start hover:text-accent-blue dark:hover:text-accent-blue transition-all dark:text-dark-text"
          >Brian Sekelsky</a
        >
      </div>
      <div class="flex flex-wrap justify-center lg:justify-end gap-8 pt-2 sm:pt-0 w-full">
        <NavLink href="/" name="Projects" />
        <NavLink href="/about/" name="About" />
        <NavLink href="/music/" name="Music" />
        <NavLink href="/teaching/" name="Teaching" />
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>

<style>
  .writing-mode {
    writing-mode: vertical-rl;
  }
</style>
