---
import NavLink from "./Nav-link.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="block sm:hidden">
  <div class="mx-auto">
    <div class="flex flex-wrap sm:justify-between p-4">
      <div class="w-full sm:w-1/2">
        <a href="/#" class="lg:first:ml-0 hover:text-blue transition-all"
          >Brian Sekelsky</a
        >
      </div>
      <div class="flex flex-wrap gap-8 pt-2 sm:pt-0 w-full">
        <NavLink href="/" name="Design" />
        <NavLink href="/about/" name="About" />
        <NavLink href="/music/" name="Music" />
        <NavLink href="/teaching/" name="Teaching" />
      </div>
    </div>
  </div>
</div>
<div class="hidden sm:block">
  <div class="">
    <div
      class="flex justify-start sm:justify-between py-9 font-mono rotate-180 writing-mode min-h-full min-w-full items-center bg font-light"
    >
      <div class="w-full sm:w-1/2 text-left">
        <a
          href="/#"
          class="lg:first:ml-0 hover:text-blue hover:italic transition-all"
          >Brian Sekelsky</a
        >
      </div>
      <div class="flex flex-wrap gap-8 pt-6 sm:pt-0">
        <NavLink href="/music/" name="Music" />
        <NavLink href="/teaching/" name="Teaching" />
        <NavLink href="/about/" name="About" />
        <NavLink href="/" name="Design" />
      </div>
    </div>
  </div>
</div>

<style>
  .writing-mode {
    writing-mode: vertical-rl;
  }
</style>
