---
import NavLink from "./Nav-link.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="block sm:hidden">
  <div class="mx-auto">
    <div class="flex flex-wrap justify-center sm:justify-between p-4 font-mono">
      <div class="w-full sm:w-1/2 text-center sm:text-left">
        <NavLink href="/#" name="BRIAN SEKELSKY" />
      </div>
      <div class="flex flex-wrap gap-8 pt-6 sm:pt-0">
        <NavLink href="/" name="DESIGN" />
        <NavLink href="/music" name="MUSIC" />
        <NavLink href="/about" name="ABOUT" />
      </div>
    </div>
  </div>
</div>
<div class="hidden sm:block">
  <div class="">
    <div
      class="flex justify-between sm:justify-between py-5 font-mono rotate-180 writing-mode min-h-full min-w-full items-center"
    >
      <div class="w-full sm:w-1/2 text-center sm:text-left">
        <NavLink href="/#" name="BRIAN SEKELSKY" />
      </div>
      <div class="flex flex-wrap gap-8 pt-6 sm:pt-0">
        <NavLink href="/" name="DESIGN" />
        <NavLink href="/music" name="MUSIC" />
        <NavLink href="/about" name="ABOUT" />
      </div>
    </div>
  </div>
</div>

<style>
  .writing-mode {
    writing-mode: vertical-rl;
  }
</style>
