<div
  class="load-in project-grid bg-white pt-8 pb-24 last:pb-8 [&>*]:px-4 sm:[&>*]:px-8 flex flex-col sm:grid grid-cols-1 sm:grid-cols-2 gap-y-12 sm:gap-y-24 sm:gap-x-2 text-lg"
>
  <slot />
</div>
