---
import SmallHeading from "./SmallHeading.astro";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div class="mx-auto border-t border-x">
  <div class="">
    <div class="bg-white group relative border-b p-3 lg:p-12">
      <p
        class="text-center font-serif font-thin h-full leading-tight text-6xl lg:text-8xl lg:leading-tight"
      >
        {title}
      </p>
    </div>
    <div
      class={description === "" ? "hidden" : "p-3 lg:p-12 lg:w-1/2 mx-auto bg-white relative"}
    >
      <div class="text-left">
        <SmallHeading text="Description" />
        <p>{description}</p>
      </div>
    </div>
  </div>
</div>

<style>
  .gap-1 {
    gap: 1px;
  }
</style>
