<div
  class="bg-white relative p-3 sm:p-8 grid sm:grid-template grid-cols-1 sm:grid-cols-2 gap-12"
>
  <slot />
</div>

<style>
  .grid-template {
    grid-template-columns: 1fr 2fr;
  }
  p {
    font-family: "NeueMontreal";
    margin-bottom: 0.7rem;
  }
</style>
