---
import Link from "./Link.astro";
import SmallHeading from "./SmallHeading.astro";

import { Image } from "astro:assets";
import brianImage from "../images/about/brian.png";
---

<!-- <script is:inline>
document.body.style.backgroundColor = "#9DC5BB";
</script> -->
<div class="">
    <div class="mx-auto">
        <div class="grid grid-cols-1 lg:flex lg:justify-stretch">
            <div class="flex flex-col shrink justify-stretch md:[&>*]:pr-72">
                <div
                    id="header"
                    class="hidden sm:block py-4 sm:pt-6 px-4 sm:px-8 pb-0 bg-white border-b transition-all duration-500"
                >
                    <p
                        id="manipulate"
                        class="text-left text-5xl sm:text-7xl font-serif uppercase cursor-pointer line-height-1.4"
                    >
                        TEACHING AND ACADEMIA
                    </p>
                </div>
                <div class="bg-white pt-4 border-b px-4 py-8 sm:p-8">
                    <SmallHeading text="Classes" />
                    <div class="flex gap-8">
                        <span>Tech Tinkering</span>
                        Spring 2024
                        <Link
                            href="https://docs.google.com/document/d/1WC3XdD-5z1Dz4kn_b43A6ZKSKemnKqgqdj_WIBOhhVs/edit?usp=drive_link"
                            name="Syllabus"
                        />
                        <Link
                            href="https://miro.com/app/board/uXjVN80tgx8=/"
                            name="Miro"
                        />
                    </div>
                </div>
                <div class="bg-white pt-4 border-b px-4 py-8 sm:p-8">
                    <SmallHeading text="Publications" />
                    <div class="pb-2">2023</div>
                    <div>
                        <Link
                            href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=7nX--IoAAAAJ&citation_for_view=7nX--IoAAAAJ:u-x6o8ySG0sC"
                            name="Preserving theoretically-grounded functions across media platforms in interaction design"
                        />
                    </div>
                    <div>
                        <Link
                            href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=7nX--IoAAAAJ&citation_for_view=7nX--IoAAAAJ:u5HHmVD_uO8C"
                            name="Shrink or grow the kids? Scale cognition in an immersive virtual environment for K-12 summer camp"
                        />
                    </div>
                    <div>
                        <Link
                            href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=7nX--IoAAAAJ&citation_for_view=7nX--IoAAAAJ:9yKSN-GCB0IC"
                            name="Scale Worlds: Iterative refinement, evaluation, and theory-usability balance of an immersive virtual learning environment"
                        />
                    </div>
                    <div class="py-2">2022</div>
                    <div>
                        <Link
                            href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=7nX--IoAAAAJ&citation_for_view=7nX--IoAAAAJ:d1gkVwhDpl0C"
                            name="Immersive virtual environment for scale cognition and learning: Expert-based evaluation for balancing usability versus cognitive theories"
                        />
                    </div>
                </div>
                <div class="bg-white pt-4 px-4 py-8 sm:p-8">
                    <SmallHeading text="Teaching Philosophy (In development)" />
                    <ol class="list-decimal list-outside">
                        <li class="pb-2">
                            The tools that designers use are constantly changing
                            so design education should be tool agnostic.
                        </li>
                        <li class="pb-2">
                            There is no single right way to approach a design
                            problem. It is useful to study and understand design
                            methods but I don’t expect or want students to
                            follow step-by-step instructions when they design.
                        </li>
                        <li class="pb-2">
                            I want students to analyze the way that they work,
                            so that they may develop their own understanding
                            about what designers do and how they work and
                            perhaps uncover new ways of working.
                        </li>
                        <li class="pb-2">
                            A lot can be learned through creating. I encourage
                            students to start creating, and creating in lots of
                            different ways, right away.
                        </li>
                        <li class="pb-2">
                            Job readiness is important to most students but the
                            types of jobs that designers do is varied and
                            constantly changing. So preparing students for
                            current jobs must be balanced with a holistic
                            education that will prepare them for future design
                            jobs as well.
                        </li>
                        <li class="pb-2">
                            The most important aspect of my teaching is to treat
                            every student with respect, remain open minded, and
                            be equitable in my approach.
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <style>
            #manipulate {
                /* cursor: pointer; */
                line-height: 1.14;
            }

            .gap-1 {
                gap: 1px;
            }
            p {
                margin-bottom: 0.7rem;
            }

            .object-cover {
                min-width: 100%;
                min-height: 100%;
            }
        </style>

        <script src="./header.js"></script>
    </div>
</div>
