---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import webm from "../../images/homepage/around.webm";
import webmMp4 from "../../images/homepage/around.mp4";
import poster from "../../images/homepage/around-poster.jpg";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Around"
      objective="Album art for my music project Winter Foe."
      types={["Album Art", "Visual"]}
      collaborators={[]}
      year="2022"
    />
    <div class="">
      <div class="mx-auto flex justify-center">
        <video class="w-1/2" playsinline autoplay muted loop preload="metadata" poster={poster.src}>
          <source src={webm} type="video/webm" />
          <source src={webmMp4} type="video/mp4" />
        </video>
      </div>
    </div>
  </main>
</Layout>
