---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import preview from "../../images/fidelity/preview.png";
import admin from "../../images/fidelity/admin-beforeafter.png";
import direct from "../../images/fidelity/direct-beforeafter.png";
import adminwebm from "../../images/fidelity/admin2.webm";

import Link from "../../components/Link.astro";
import Caption from "../../components/Caption.astro";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Fidelity Student Debt"
      objective="I spend my time at Fidelity working on complex B2B problems related to student debt. One project that I led the design of, end to end, was for our administrative software. This internal tool is used by operations employees to maintain all of our users’ accounts and loans across our three products. The project also included some important updates to the customer facing products to simplify processes, reconcile with changes to the databases, and update to the new design system."
      types={[
        "Product Design",
        "User Experience",
        "User Interface",
        "Visual Design",
      ]}
      collaborators={["Mac Hill", "Emily McGalliard", "Casie Mattrisch"]}
      year="2023 – 2024"
    />
    <div class="load-in border-b">
      <div class="mx-auto flex justify-center">
        <Image
          class=""
          src={preview}
          alt="Screenshot of user experience work in figma"
        />
      </div>
      <style></style>
    </div>
    <ProjectGrid>
      <p>
        Please contact me to learn more about my involvement with Fidelity
        Student Debt.
      </p>
    </ProjectGrid>
  </main>
</Layout>
