---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import preview from "../../images/fidelity/preview.png";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Fidelity Student Debt"
      objective="Since May, 2023 I have been working fulltime on complex user experience and frontends for Fidelity's emerging products related to helping customers pay down their student debt. I can't share much here but please reach out if you would like to learn more."
      types={["User Experience", "User Interface"]}
      collaborators={[]}
      year="2023"
    />
    <div class="">
      <div class="mx-auto flex justify-center">
        <Image
          class=""
          src={preview}
          alt="Screenshot of user experience work in figma"
        />
      </div>
      <style></style>
    </div>
  </main>
</Layout>
