---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import webm from "../../images/homepage/public-transit.webm";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Imagine Public Transportation"
      objective="Billboard mockups meant to insprie discourse surrounding car ownership and urban planning in the United States."
      types={["Graphic Design", "Speculative"]}
      collaborators={[]}
      year="2023"
    />
    <div class="">
      <div class="mx-auto flex justify-center">
        <video class="w-1/2" playsinline autoplay muted loop>
          <source src={webm} type="video/webm" />
        </video>
      </div>
    </div>
    <style></style>
  </main>
</Layout>
