---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import webm from "../../images/homepage/npca.webm";
---

<Layout title="Brian Sekelsky">
  <main>
    <!--asdf -->
    <ProjectHeader
      title="National Peace Corps Association"
      objective="From late 2021 to late 2022, I worked for the non-profit, National Peace Corps Association. NPCA is is a mission-driven social impact organization that encourages and celebrates lifelong commitment to Peace Corps ideals. I was embedded in the communications team as the only graphic designer. I created a wide variety of artifacts including brochures, reports, letters, social media posts, webpages, logos, and more."
      types={["Branding", "Print materials", "Website", "Communications"]}
      collaborators={[]}
      year="2021 – 2022"
      outboundLink="https://www.peacecorpsconnect.org/cpages/home"
    />
    <div class="load-in">
      <div class="mx-auto flex justify-center">
        <video class="w-1/2" playsinline autoplay muted loop>
          <source src={webm} type="video/webm" />
        </video>
      </div>
    </div>
    <style></style>
  </main>
</Layout>
