---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import mp4 from "../../images/possible-internet/possible-internet.mp4";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Possible Internet"
      objective="Grad school project."
      types={["Speculative", "Augmeted Reality", "Research"]}
      collaborators={[]}
      year="2022"
    />
    <div class="">
      <div class="mx-auto flex justify-center">
        <video class="" playsinline controls muted loop>
          <source src={mp4} type="video/mp4" />
        </video>
      </div>
    </div>
    <style></style>
  </main>
</Layout>
