---
import Layout from "../../layouts/Layout.astro";
import webm from "../../images/size-and-scale/size&scale.webm";
import { Image } from "astro:assets";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import Link from "../../components/Link.astro";

import crossCuttingConcept1 from "../../images/size-and-scale/crosscutting-concept-1.png";
import crossCuttingConcept2 from "../../images/size-and-scale/crosscutting-concept-2.png";
import cave from "../../images/size-and-scale/cave.png";
import Microcopy from "../../components/Microcopy.astro";
import Caption from "../../components/Caption.astro";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Visualizing Size & Scale"
      objective="Design a website to augment and scaffold towards size and scale cognition."
      tools={["Three JS", "Javascript", "HTML/CSS", "Figma"]}
      role="Researcher"
      collaborators={["Dr. Matthew Peterson – Advisor"]}
    />
    <div class="border-x">
      <div class="mx-auto border-y p-3">
        <video playsinline autoplay muted loop>
          <source src={webm} type="video/webm" />
        </video>
      </div>
      <div
        class="p-24 bg-white relative grid gap-x-12 gap-y-48 grid-cols-2 sm:grid-cols-2"
      >
        <div class="col-span-1">
          <SmallHeading text="Problem" />
          <p>
            Understanding size and scale has been identified as a critical skill
            for students, especially those in STEM disciplines. Accurately
            visualizing scale is often difficult.
          </p>
        </div>
        <div class="col-span-1"></div>
        <div class="col-span-1">
          <p>
            Scale has been identified as a crosscutting concept by the National
            Academies of Science, Engineering, and Medicine.
            <Microcopy
              text="National Research Council. (2012). A framework for K-12 science education: Practices, crosscutting concepts, and core ideas. Washington, D.C. : The National Academies Press, 2012. https://doi.org/doi. org/10.17226/13165"
            />
          </p>
        </div>
        <div class="col-span-1">
          <Image
            class="pb-3"
            src={crossCuttingConcept1}
            alt="Image of text from national research council"
          />
          <Image
            src={crossCuttingConcept2}
            alt="Image of text from national research council"
          />
        </div>

        <div class="col-span-1">
          The work done for this project is closely connected to the virtual
          reality-based Scale Worlds project which I have been involved with
          since 2021.
        </div>
        <div class="col-span-1">
          <Image
            src={cave}
            alt="Image of Brian Sekelsky stading in Cave augmented virtual environment"
          />
          <Caption text="Me in the CAVE" />
        </div>
      </div>
    </div>
  </main>
</Layout>
