---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import webm from "../../images/homepage/speculative-design-workshop.webm";
import webmMp4 from "../../images/homepage/speculative-design-workshop.mp4";
import poster from "../../images/homepage/speculative-design-workshop-poster.jpg";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Speculative Design Workshop"
      objective="Grad school workshop."
      types={["Education"]}
      collaborators={[]}
      year="2022"
      heroVideo={webm}
      heroVideoMp4={webmMp4}
      heroPoster={poster.src}
    />
    <style></style>
  </main>
</Layout>
