---
import Layout from "../../layouts/Layout.astro";

import ProjectHeader from "../../components/ProjectHeader.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
import { Image } from "astro:assets";

import webm from "../../images/homepage/vespertine.webm";
---

<Layout title="Brian Sekelsky">
  <main>
    <ProjectHeader
      title="Vespertine"
      objective="Three JS website made for Bjork's album Vespertine."
      types={["Website"]}
      collaborators={[]}
      year="2023"
    />
    <div class="sm:border-x">
      <div class="mx-auto flex justify-center">
        <video class="w-1/2" playsinline autoplay muted loop>
          <source src={webm} type="video/webm" />
        </video>
      </div>
    </div>
    <style></style>
  </main>
</Layout>
