---
import Card from "../Card.astro";
import { Image } from "astro:assets";
import video from "../../images/homepage/size&scale.webm";
import videomp4 from "../../images/homepage/size&scale.mp4";
import gif from "../../images/homepage/size-scale-still.png";

const props = {
  title: "Visualizing Size & Scale",
  description:
    "Designing and creating virtual reality and web-based learning environments where students can experience scales ranging from the size of the universe down to an atom.",
  year: "2023",
  types: [
    { text: "Website", special: false },
    { text: "UX", special: false },
    { text: "Branding", special: false },
    { text: "Research", special: false },
  ],
  size: "featured",
  href: "projects/size-and-scale",
  myColor: "honeydew",
  alt:
    "Clip of zooming out from astronaut perspective up to whale perspective",
};
---

<Card {...props}>
  <div class="flex justify-center items-center bg-color h-full">
    <div class="hidden md:block w-full h-full">
      <video
        class="w-full h-full object-contain transition-all"
        playsinline
        autoplay
        muted
        loop
        preload="none"
      >
        <source src={video} type="video/webm" />
        <source src={videomp4} type="video/mp4" />
      </video>
    </div>

    <div class="flex md:hidden">
      <Image src={gif} alt={props.alt} class="w-full transition-all" loading="lazy" />
    </div>
  </div>
</Card>
