---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <div class="">
      <div
        class="sm:fixed sm:h-screen sm:br-1 w-16 hidden sm:block sm:border-r"
      >
        <Nav />
      </div>
      <div class="sm:ml-16">
        <div class="block sm:hidden border-b">
          <Nav />
        </div>
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "JetBrainsMono";
    src: url("../font/JetBrainsMono-ExtraLight.woff") format("woff");
  }
  @font-face {
    font-family: "PPRightGroteskMono";
    src: url("../font/PPRightGroteskMono-Light.woff") format("woff");
  }
  @font-face {
    font-family: "PPRightGroteskMono";
    src: url("../font/PPRightSerifMono-Light.woff") format("woff");
    font-weight: 700;
  }
  @font-face {
    font-family: "PPRightGroteskMono";
    src: url("../font/PPRightGrotesk-Light.woff") format("woff");
    font-weight: 100;
  }
  @font-face {
    font-family: "Inter";
    src: url("../font/Inter-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Inter";
    src: url("../font/Inter-Bold.woff") format("woff");
    font-weight: 700;
  }
</style>
