---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
// Supports weights 100-900
import '@fontsource-variable/inter';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <link rel="stylesheet" href="https://use.typekit.net/oum5vhm.css" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="overflow-x-hidden">
    <ClientRouter />
    <div id="transition-overlay"></div>
    <div class="border-t">
      <div
        class="sm:fixed sm:h-screen sm:br-1 w-16 hidden sm:block sm:border-r sm:bg-white"
      >
        <Nav />
      </div>
      <div class="sm:ml-16 h-screen w-100 flex flex-col">
        <div class="block sm:hidden border-b">
          <Nav />
        </div>
        <main data-astro-transition>
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
<style is:global>

  body {
    font-family: 'Inter Variable', sans-serif;
  }
  
  @font-face {
    font-family: "freighttextcmp-pro", serif;
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "freighttextcmp-pro", serif;
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: "freight-sans-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "freight-sans-pro", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .inter-<uniquifier > {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }

  .ibm-plex-mono-light {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }

  .ibm-plex-mono-regular-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }

  .project-grid p {
    padding-bottom: 2rem;
  }

  #transition-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(244, 244, 244, 0.6); /* semi-transparent */
    pointer-events: none;
    z-index: 999;
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.3s ease;
  }

</style>

<script type="module" src="/scripts/page-transition.js"></script>
