---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link
      href="//fastly-cloud.typenetwork.com/projects/7871/fontface.css?65e892a2"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="preload"
      href="/font/PPRightGroteskMono-Fine.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/font/PPRightGroteskMono-Light.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/font/PPRightSerifMono-Fine.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/font/Inter-Regular.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/font/Inter-Bold.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
  </head>
  <body class="">
    <div class="">
      <div
        class="sm:fixed sm:h-screen sm:br-1 w-16 hidden sm:block sm:border-r"
      >
        <Nav />
      </div>
      <div class="sm:ml-16">
        <div class="block sm:hidden border-b">
          <Nav />
        </div>
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "PPRightGroteskMono";
    src: url("/font/PPRightGroteskMono-Fine.woff") format("woff");
    font-weight: 100;
  }
  @font-face {
    font-family: "PPRightGroteskMono";
    src: url("/font/PPRightGroteskMono-Light.woff") format("woff");
  }
  @font-face {
    font-family: "PPRightGroteskMonoSerif";
    src: url("/font/PPRightSerifMono-Fine.woff") format("woff");
  }
  @font-face {
    font-family: "Inter";
    src: url("/font/Inter-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Inter";
    src: url("/font/Inter-Bold.woff") format("woff");
    font-weight: 700;
  }

  .inputmonoregular {
    font-family: "PPRightGroteskMono";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
  }

  .project-grid p {
    padding-bottom: 2rem;
  }

  .load-in {
    opacity: 0;
  }

  .image-center {
    height: 230px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .image {
    height: 230px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .video {
    height: 230px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .video-center {
    height: 230px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
</style>
